################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sitecore-Mate-Chat-Search/Sitecore-Chat-Search-MCP/.chroma_db_data
/Sitecore-Mate-Chat-Search/Sitecore-Chat-Search-MCP/__pycache__
/Sitecore-Mate-Chat-Search/Sitecore-Content-Scrapper-Website/.next
/Sitecore-Mate-Chat-Search/Sitecore-Chat-Search-MCP/chroma_db
/Sitecore-Mate-Chat-Search/Sitecore-Chat-Search-MCP/.env
/Sitecore-Mate-Chat-Search/Sitecore-Content-Scrapper-Website/environments.json
